[submodule "ue-list-website/themes/ananke"]
	path = ue-list-website/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ue-list-website/themes/beautifulhugo"]
	path = ue-list-website/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "ue-list-website/themes/hugo-book"]
	path = ue-list-website/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "ue-list-website/themes/hugo-xmin"]
	path = ue-list-website/themes/hugo-xmin
	url = git@github.com:yihui/hugo-xmin.git
