{% import '_macros.jinja2' as macros %}

# Liste des UE du Master mention mécanique à Sorbonne Université

## Parcours
{% for tag in tags %}
- [{{ tag }}]({{ tag }})
{%- endfor %}

*Dernière mise à jour*: {{ todays_date }}

## Liste des unités d'enseignement ([Catalogue PDF](catalog.pdf))
{% for ue_code, info in UE_codes.items() %}
###  {{ macros.safe_print_ue(ue_code, info) }}
{% if info.resp_name is defined %}
*Responsable(s) : {{ info.resp_name.value | trim | e }}*
{% else %}
*Responsable(s) : RESPONSABLE À REMPLIR OBLIGATOIREMENT*
{% endif %}
{% endfor %}

-----------------------------------
