{% macro safe_print_ue(ue_code, info, relpath) %}
{%- if info.title_fr is defined and info.title_en is defined -%}
[{{ ue_code }}]({{ relpath }}page/{{ ue_code | lower() }}) --- {{
  info.title_fr.value|e }} ({{ info.title_en.value|e }}) ([pdf]({{ relpath }}{{ ue_code }}.pdf))
{%- else -%}
[{{ ue_code }}]({{ relpath }}page/{{ ue_code | lower() }}) --- TITRE À REMPLIR
  OBLIGATOIREMENT ([pdf]({{ relpath }}{{ ue_code }}.pdf))
{%- endif -%}
{% endmacro %}

{% macro ue_filt(UE_codes, tag, code_prefix, semester) %}
{%- for ue_code, info in UE_codes.items() -%}
{%- if tag in info.tags and code_prefix in ue_code and info.semester_en is
  defined and  semester in info.semester_en.value -%}
{{ caller(ue_code, info) }}
{% endif %}
{%- endfor -%}
{% endmacro %}

{% macro parcours(UE_codes, index_tag, title) %}
# Parcours "{{ title }}"

## Master 1
{% call(ue_code, info) ue_filt(UE_codes, index_tag, "UM4", "") -%}
- {{ safe_print_ue(ue_code, info, '../') }}
{%- endcall %}

---------------------------------------------------------------------------------

## Master 2
{% call(ue_code, info) ue_filt(UE_codes, index_tag, "UM5", "") -%}
- {{ safe_print_ue(ue_code, info, '../') }}
{%- endcall %}

---------------------------------------------------------------------------------

## Missing infos for the following UE
{% for ue_code, info in UE_codes.items() %}
{%- if index_tag in info.tags %}
{%- if info.title_fr is not defined or info.title_en is not defined %}
- [{{ ue_code }}](../page/{{ ue_code | lower() }}) -- TITRE À REMPLIR OBLIGATOIREMENT ([pdf]({{ ue_code }}.pdf))
{%- endif %}
{%- endif %}
{%- endfor %}
{% endmacro %}
