# Liste des UE du Master mention mécanique à Sorbonne Université

## Parcours
{% for tag in tags %}
- [{{ tag }}](tags/{{ tag }})
{%- endfor %}

*Dernière mise à jour*: {{ todays_date }}

## Liste des unités d'enseignement ([Catalogue PDF](catalog.pdf))
{% for ue_code, info in UE_codes.items() %}
{% if info.title_fr is defined and info.title_en is defined %}
### [{{ ue_code }}](page/{{ ue_code | lower() }}) -- {{ info.title_fr.value }} ({{ info.title_en.value }}) ([pdf]({{ ue_code }}.pdf))
{% else %}
### [{{ ue_code }}](page/{{ ue_code | lower() }}) -- TITRE À REMPLIR OBLIGATOIREMENT ([pdf]({{ ue_code }}.pdf))
{% endif %}

{% if info.resp_name is defined %}
*Responsable(s) : {{ info.resp_name.value }}*
{% else %}
*Responsable(s) : RESPONSABLE À REMPLIR OBLIGATOIREMENT*
{% endif %}

{%- endfor %}

-----------------------------------