{% import '_macros.jinja2' as macros %}

# Liste des modalites d'évaluation par UE

{% for ue_code, info in UE_codes.items() %}
### {{ macros.safe_print_ue(ue_code, info) }}
{% if info.eval_fr is defined %}
{{ info.eval_fr.value|e }}
{% endif %}
{% if info.eval_en is defined %}
{{ info.eval_en.value|e }}
{% endif %}
{% if info.eval_fr is not defined and info.eval_en is not defined %}
N/A
{% endif %}
----------------------------------------------
{%- endfor %}
