# Parcours "Solides"

## Master 1

{% for ue_code, info in UE_codes.items() %}
{%- if "solides" in info.tags %}
{%- if "UM4" in ue_code %}
{%- if info.title_fr is defined and info.title_en is defined %}
- [{{ ue_code }}](../page/{{ ue_code | lower() }}) -- {{ info.title_fr.value }} ({{ info.title_en.value }}) ([pdf]({{ ue_code }}.pdf))
{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}

## Master 2

{% for ue_code, info in UE_codes.items() %}
{%- if "solides" in info.tags and "UM5" in ue_code %}
{%- if info.title_fr is defined and info.title_en is defined %}
- [{{ ue_code }}](../page/{{ ue_code | lower() }}) -- {{ info.title_fr.value }} ({{ info.title_en.value }}) ([pdf]({{ ue_code }}.pdf))
{%- endif %}
{%- endif %}
{%- endfor %}
