---
{%- if title_fr is defined and title_en is defined %}
title: "{{ code.value }} -- {{ title_fr.value|e }} ({{ title_en.value|e }})"
{%- else %}
title: "{{ code.value }} -- TITRE À REMPLIR OBLIGATOIREMENT !"
{%- endif %}
{%- if resp_name is defined %}
author: "{{ resp_name.value|e }}"
{%- else %}
author: "RESPONSABLE À REMPLIR OBLIGATOIREMENT"
{%- endif %}
{%- if image is defined %}
image: "figures/{{ image.value }}"
{%- endif %}
tags:
{% for tag in tags %}
   - {{ tag }}
{%- endfor %}
date: "{{ modified_date }}"
---

# Informations générales

|         |          |
| ------- | -------- |
{%- for key, info in GENERIC_INFOS.items() %}
| **{{ TAG_TITLES[key]|e }}** | {{ info.value|e }} |
{%- endfor %}

# Informations pédagogiques
{% for _, info in PEDAGOGICAL_INFOS.items() %}
## {{ info.tag|e }}
{{ info.value | replace('# ', '### ') | e }}
{% endfor %}
{% if references is defined %}
## Bibliographie
{% for line in references.value.split('\n') %}
  {{ line | replace('#', '') | e }}
{% endfor %}
{% endif %}

{% if image is defined %}
![Figure](../figures/{{ image.value }})
{% endif %}

[*Version PDF*](../../{{ GENERIC_INFOS.code.value }}.pdf)
